<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeobmallari.ilib">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_milib"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".Cart"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDetail"
            android:label="@string/title_activity_book_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultsList"
            android:label="@string/title_activity_results_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdvSearchActivity"
            android:label="@string/title_activity_adv_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>